body {
    background: linear-gradient(100deg, #f3889e, purple);
    -webkit-animation: ColorChange 1s ease infinite;
    -moz-animation: ColorChange 1s ease infinite;
    animation: ColorChange 1s ease infinite;
    overflow-x: hidden;
    margin: 0px;
    position: relative;
    min-height: 100%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: magenta;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: magenta;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3889e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: magenta;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2)
}